# VSCode Setup
.vscode/

# Virtual environment
.venv/

# West workspace management
.west/

# Build artifacts
bootloader/

# Zephyr and external modules (recreated by `west update`)
modules/
zephyr/
tools/